<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215549519800-ift4ktrgjgknb3qnql4rra471sb9c90k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215549519800-ift4ktrgjgknb3qnql4rra471sb9c90k</string>
	<key>API_KEY</key>
	<string>AIzaSyCZuEQweNOvdgnUpUfs-VCToPcxFfXudrY</string>
	<key>GCM_SENDER_ID</key>
	<string>215549519800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gptutor</string>
	<key>PROJECT_ID</key>
	<string>gptutor-f2a34</string>
	<key>STORAGE_BUCKET</key>
	<string>gptutor-f2a34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215549519800:ios:af96da58c75357f3fe114d</string>
</dict>
</plist>